@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<SD.ACMA.DNCRProject.Website.Models.SocialMediaViewModel>>

@{
    Layout = null;
}

    <div class="social-row social-row-margin">
        <div class="social-column social-column-left social-column-responsive">
            <div>
                <image class="social-logo-fb social-logo-responsive" src="/images/f_logo_RGB-Blue_250.png" alt="Facebook" />
                <div>
                    <h3><a class="social-link-img" href="##FACEBOOK_LINK##" target="_blank"><image class="social-img" src="/images/r10/social/icon-facebook-purple.png" alt="Facebook" /> acmadotgov</a></h3>
                </div>

            </div>
        </div>


        <div class="social-column social-column-middle social-column-responsive">
            <div>
                <image class="social-logo-twitter social-logo-responsive" src="/images/Twitter_Social_Icon_Circle_Color.png" alt="Twitter" />
                <div>
                    <h3><a class="social-link-img" href="##TWITTER_LINK##" target="_blank"><image class="social-img" src="/images/r10/social/icon-twitter-purple.png" alt="Twitter" /> @@acmadotgov</a></h3>
                </div>

            </div>
        </div>

        <div class="social-column social-column-right social-column-responsive">

            <image class="social-logo-ytb social-logo-responsive" src="/images/yt_logo_rgb_light.png" alt="Youtube" />
            <div>
                <h3><a class="social-link-img" href="##YOUTUBE_LINK##" target="_blank"><image class="social-img" src="/images/r10/social/icon-youtube-purple.png" alt="Youtube" /> acmadotgov</a></h3>
            </div>


        </div>

        <div class="clear"></div>
    </div>
<div class="itemDesc" style="outline: none;"> <p style="outline: none;"> Follow us on social media or <a href="https://www.acma.gov.au/subscribe-our-newsletters" target="_blank" class="purple" style="font-size:1em !important;">sign up</a> to receive newsletters from the ACMA </p></div>