<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Rules>
    <Rule Type="RunScripts" Enabled="true" Names="author" Users="" UserTypes="DNCRAuthors, UCCSAuthors, MediaAuthors" ContentIds="" ContentTypes="" Description="Scripts for authors" />
    <Rule Type="RunScripts" Enabled="true" Names="standardApprover" Users="" UserTypes="DNCRApprovers, UCCSApprovers, MediaApprovers" ContentIds="" ContentTypes="" Description="Scripts for approvers" />
    <Rule Type="RunScripts" Enabled="true" Names="secondaryApprover" Users="" UserTypes="SecondaryApprovers" ContentIds="" ContentTypes="" Description="Scripts for secondary approvers" />
    <Rule Type="RunScripts" Enabled="true" Names="disableMediaPickerUpload" Users="" UserTypes="DNCRAuthors, UCCSAuthors, MediaAuthors, DNCRApprovers, UCCSApprovers, MediaApprovers, SecondaryApprovers" ContentIds="" ContentTypes="" Description="Disable media picker upload functionality" />
    <Rule Type="HideProperties" Enabled="true" Names="overrideDepartment" Users="" UserTypes="DNCRAuthors, UCCSAuthors, MediaAuthors, DNCRApprovers, UCCSApprovers, MediaApprovers" ContentIds="" ContentTypes="" Description="Hide override department" />
    <Rule Type="HideProperties" Enabled="true" Names="rejectContent" Users="" UserTypes="DNCRAuthors, UCCSAuthors, MediaAuthors" ContentIds="" ContentTypes="" Description="Hide reject content" />
    <Rule Type="HideProperties" Enabled="false" Names="containsSensitiveInformation" Users="" UserTypes="SecondaryApprovers" ContentIds="" ContentTypes="" Description="Hide sensitive information" />
    <Rule Type="HideProperties" Enabled="true" Names="_umb_releasedate, _umb_expiredate" Users="" UserTypes="DNCRAuthors, UCCSAuthors, MediaAuthors, DNCRApprovers, UCCSApprovers, MediaApprovers, SecondaryApprovers" ContentIds="" ContentTypes="" Description="Remove publish at and unpublish at for authors" />
    <Rule Type="HideTabs" Enabled="true" Names="Account Locked" Users="" UserTypes="DNCRAuthors, UCCSAuthors, MediaAuthors, DNCRApprovers, UCCSApprovers, MediaApprovers, DNCRPublishers, UCCSPublishers, MediaPublishers,&#xA;SecondaryApprovers" ContentIds="" ContentTypes="" Description="Remove account locked tab for non admin" />
  </Rules>
  <Scripts>
    <Script Name="author">
      function updateButtonsAndProperties(){
        var status = $("label[for=status]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        var contentOwner = $("label[for=contentOwner]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        var name = $(".avatar a").attr("title");
        if(status === "Sent for publishing"){
          $("localize[key='buttons_saveToPublish']").text('Publish');
          $(".dropup a.dropdown-toggle").hide();
          $("label[for=containsSensitiveInformation]").closest(".umb-property").hide();
          $("#speechbubble").hide();
        }
        else if(status === "Sent for approval" || status === "Sent for second approval" || (contentOwner !== "" &amp;&amp; contentOwner !== name)){
          $(".umb-tab-buttons").remove();
        }
        if(status !== "Sent for publishing"){
          $("label[for=containsSensitiveInformation]").closest(".umb-property").show();
          setTimeout(function () {
            $("#speechbubble").show();
          }, 10000);
        }
      }

      $(function(){
        updateButtonsAndProperties();
        
        $(".umb-tab-buttons").on("DOMSubtreeModified", function(){
          if($("localize[key='buttons_saveToPublish']:last").text() === "Save and send for approval"){
            updateButtonsAndProperties();
          }
        });
      });
    </Script>
    <Script Name="standardApprover">
      function setLabel(){
        if($("input#rejectContent").is(':checked')){
          $("localize[key='buttons_saveAndPublish']").text('Reject Content');
        }
        else if($("input#containsSensitiveInformation").is(':checked')){
          $("localize[key='buttons_saveAndPublish']").text('Save and send for sensitive approval');
        }
        else{
          $("localize[key='buttons_saveAndPublish']").text('Save and publish');
        }
      }

      function updateButtons(){
        var status = $("label[for=status]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        var contentOwner = $("label[for=contentOwner]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        var name = $(".avatar a").attr("title");
        if(status === "Sent for publishing"){
          $("localize[key='buttons_saveAndPublish']").text('Publish');
          $("localize[key='buttons_saveAndPublish']").text('Publish');
          $(".dropup a.dropdown-toggle").hide();
        }
        else if(status === "Sent for second approval" || ((status === "Edited" || status === "Rejected") &amp;&amp; contentOwner !== "" &amp;&amp; contentOwner !== name)){
          $(".umb-tab-buttons").remove();
        }
      }

      function resetProperties(){
        var status = $("label[for=status]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        if($("#datepicker_umb_releasedate input").val() === ""){
          if(status === "Sent for publishing"){
            $("label[for=_umb_releasedate]").closest(".umb-property").hide();
            $("label[for=_umb_expiredate]").closest(".umb-property").hide();
            $("label[for=containsSensitiveInformation]").closest(".umb-property").hide();
          }
          else{
            $("label[for=_umb_releasedate]").closest(".umb-property").show();
            $("label[for=_umb_expiredate]").closest(".umb-property").show();
            $("label[for=containsSensitiveInformation]").closest(".umb-property").show();
          }
          if(status === "Sent for approval"){
            $("label[for=rejectContent]").closest(".umb-property").show();
          }
          else $("label[for=rejectContent]").closest(".umb-property").hide();
        }
        else{
          $("label[for=containsSensitiveInformation]").closest(".umb-property").hide();
          $("label[for=rejectContent]").closest(".umb-property").hide();
        }
      }

      function uncheckOnSchedulePublish(){
        if($("#datepicker_umb_releasedate input").val() !== ""){
          if($("input#containsSensitiveInformation").is(':checked')){
            $("input#containsSensitiveInformation").click();
          }
          if($("input#rejectContent").is(':checked')){
            $("input#rejectContent").click();
          }
        }
      }

      $(function() {
        $(".add-on").hide();
        setLabel();
        updateButtons();
        uncheckOnSchedulePublish();
        resetProperties();

        $("input#containsSensitiveInformation").on("change", function(){
          setLabel();
        });

        $("input#rejectContent").on("change", function(){
          setLabel();
        });

        $(".umb-pane").on("click", ".dropup a.btn", function(){
          if($("#datepicker_umb_releasedate input").val() === ""){
            if($("input#containsSensitiveInformation").is(':checked') || $("input#rejectContent").is(':checked')){
              $("localize[key='buttons_saveToPublish']").closest("li").hide();
              $("localize[key='buttons_save']").closest("li").hide();
            }
            else{
              $("localize[key='buttons_saveToPublish']").closest("li").show();
              $("localize[key='buttons_save']").closest("li").show();
              $("localize[key='buttons_saveToPublish']").text('Save and send for publishing');
            }
          }
          else{
            $("localize[key='buttons_saveToPublish']").closest("li").hide();
            $("localize[key='buttons_save']").closest("li").show();
          }
        });

        $(".umb-tab-buttons").on("DOMSubtreeModified", function(){
          if($("localize[key='buttons_saveAndPublish']:last").text() === "Save and publish"){
            updateButtons();
            uncheckOnSchedulePublish();
            resetProperties();
          }
        });

        $("#datepicker_umb_releasedate input").on("blur", function(){
          uncheckOnSchedulePublish();
          resetProperties();
        });
      });
    </Script>
    <Script Name="secondaryApprover">
      function setLabel(){
        if($("input#rejectContent").is(':checked')){
          $("localize[key='buttons_saveAndPublish']").text('Reject Content');
        }
        else $("localize[key='buttons_saveAndPublish']").text('Save and publish');
      }

      function resetProperties(){
        var status = $("label[for=status]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        var department = $("label[for=currentDepartment]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        if($("#datepicker_umb_releasedate input").val() === ""){
          if(status === "Sent for publishing"){
            $("label[for=_umb_releasedate]").closest(".umb-property").hide();
            $("label[for=_umb_expiredate]").closest(".umb-property").hide();
          }
          else{
            $("label[for=_umb_releasedate]").closest(".umb-property").show();
            $("label[for=_umb_expiredate]").closest(".umb-property").show();
          }
          if(status !== "Sent for approval" &amp;&amp; status !== "Sent for second approval"){
            $("label[for=rejectContent]").closest(".umb-property").hide();
          }
          else $("label[for=rejectContent]").closest(".umb-property").show();
          if(department === ""){
            $("label[for=currentDepartment]").closest(".umb-property").hide();
            $("label[for=overrideDepartment]").closest(".umb-property").show();
          }
          else{
            $("label[for=currentDepartment]").closest(".umb-property").show();
            $("label[for=overrideDepartment]").closest(".umb-property").hide();
          }
        }
        else {
          $("label[for=rejectContent]").closest(".umb-property").hide();
          $("label[for=overrideDepartment]").closest(".umb-property").hide();
        }
      }

      function updateButtons(){
        var status = $("label[for=status]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        var contentOwner = $("label[for=contentOwner]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
        var name = $(".avatar a").attr("title");
        if(status === "Sent for publishing"){
          $("localize[key='buttons_saveAndPublish']").text('Publish');
          $("localize[key='buttons_saveAndPublish']").text('Publish');
          $(".dropup a.dropdown-toggle").hide();
        }
        else if((status === "Edited" || status === "Rejected") &amp;&amp; contentOwner !== "" &amp;&amp; contentOwner !== name){
          $(".umb-tab-buttons").remove();
        }
      }

      function uncheckOnSchedulePublish(){
        if($("#datepicker_umb_releasedate input").val() !== ""){
          if($("input#rejectContent").is(':checked')){
            $("input#rejectContent").click();
          }
        }
      }

      $(function(){
        $(".add-on").hide();
        setLabel();
        updateButtons();
        uncheckOnSchedulePublish();
        resetProperties();

        $("label[for=overrideDepartment]").siblings("div").find("select[name=dropDownList]").on("change", function(){
          if($(this).val() !== ""){
            $("localize[key='buttons_saveAndPublish']").text('Save and send for publishing');
          }
          else{
            $("localize[key='buttons_saveAndPublish']").text('Save and publish');
          }
        });

        $("input#rejectContent").on("change", function(){
          setLabel();
        });

        $(".umb-pane").on("click", ".dropup a.btn", function(){
          if($("#datepicker_umb_releasedate input").val() === ""){
            if($("input#rejectContent").is(':checked')){
              $("localize[key='buttons_saveToPublish']").closest("li").hide();
              $("localize[key='buttons_save']").closest("li").hide();
            }
            else{
              $("localize[key='buttons_saveToPublish']").closest("li").show();
              $("localize[key='buttons_save']").closest("li").show();
              $("localize[key='buttons_saveToPublish']").text('Save and send for publishing');
            }
            var department = $("label[for=currentDepartment]").siblings("div").find(".umb-editor.umb-readonlyvalue").text().trim();
            var override = $("label[for=overrideDepartment]").siblings("div").find("select[name=dropDownList]").val();
            if(department === ""){
              $("localize[key='buttons_saveToPublish']").closest("li").hide();
              if(override !== ""){
                $("localize[key='buttons_save']").closest("li").hide();
              }
            }
          }
          else{
            $("localize[key='buttons_saveToPublish']").closest("li").hide();
            $("localize[key='buttons_save']").closest("li").show();
          }
        });

        $(".umb-tab-buttons").on("DOMSubtreeModified", function(){
          if($("localize[key='buttons_saveAndPublish']:last").text() === "Save and publish"){
            updateButtons();
            uncheckOnSchedulePublish();
            resetProperties();
          }
        });

        $("#datepicker_umb_releasedate input").on("blur", function(){
          uncheckOnSchedulePublish();
          resetProperties();
        });
      });
    </Script>
    <Script Name="disableMediaPickerUpload">
      $(function(){
        $("#umbracoMainPageBody").on("DOMSubtreeModified", function(){
          if($(".uploader:visible").length > 0){
            $(".uploader").closest(".pull-right").hide();
          }
        });
      });
    </Script>
  </Scripts>
</Config>