<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<settings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <distributedCall enable="true" xdt:Transform="Replace">
    <user>0</user>
    <servers>
      <server>p-web00-gsw.dncr.net.au</server>
      <server>p-web01-gsw.dncr.net.au</server>
      <server>p-web02-gsw.dncr.net.au</server>
      <server>p-web03-gsw.dncr.net.au</server>
      <server>p-web01-tps.dncr.net.au</server>
      <server>p-web02-tps.dncr.net.au</server>
    </servers>
  </distributedCall>
</settings>