<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="Data Source=10.109.136.82,10020;Initial Catalog=DEVINT-Umbraco;user id=TirtaP;password=Password1" providerName="System.Data.SqlClient"/>
    <!--<add name="umbracoDbDSN" connectionString="Data Source=10.109.136.82,10020;Initial Catalog=DEVINT-Umbraco;user id=TirtaP;password=Password1" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="Instance.Name" value="EmailInParser"/>
    <add key="App.ProcessingLoopMS" value="1000"/>
    <add key="App.BatchPollMSGreen" value="5000"/>
    <add key="App.BatchPollMSYellow" value="10000"/>
    <add key="App.BatchPollMSRed" value="30000"/>
    <add key="App.HeartbeatMS" value="60000"/>
    <add key="App.GreenThreshold" value="0"/>
    <add key="App.YellowThreshold" value="5"/>
    <add key="App.EmailFolderPath" value="C:\Tmp\ACMA.EmailDrop\"/>
    <add key="App.EmailProcessedFolderPath" value="C:\Tmp\ACMA.EmailProcessed\"/>
    <add key="App.HeartbeatFolderPath" value=""/>
    <add key="App.Priority" value="1"/>
    <add key="App.BatchSize" value="100"/>
    <add key="App.ClashThreshold" value="10"/>
    <add key="ConnectionStringName" value="umbracoDbDSN"/>
    <add key="LoopInterval" value="30000"/>
    <add key="App.MaxRetry" value="5"/>

    <add key="WithoutToken_FirstScenario_ToEmail" value="Enquiries@dncr.net.au"/>
    <add key="WithoutToken_SecondScenario_ToEmail" value="Industry@dncr.net.au"/>
    <add key="WithoutToken_RestOfScenario_ToEmail" value="@dncr.net.au"/>
    
    <add key="WithoutToken_FirstScenario_RerouteEmail" value="paulus.tirta@salmat.com.au"/>
    <add key="WithoutToken_SecondScenario_RerouteEmail" value="paulus.tirta@salmat.com.au"/>
    <add key="WithoutToken_RestOfScenario_RerouteEmail" value="paulus.tirta@salmat.com.au"/>

    <add key="SMTP_Server" value="smtp.gsw.sd.salmat.local"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOnlineCmsService" maxReceivedMessageSize="20000000"/>
        <binding name="BasicHttpsBinding_IOnlineCmsService" maxReceivedMessageSize="20000000">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Cms/OnlineCmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineCmsService" contract="DNCRServicesCMS.IOnlineCmsService" name="BasicHttpsBinding_IOnlineCmsService"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
