<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="Data Source=Rel-MSSQL01-GSW.dncr.net.au,10020;Initial Catalog=SIT-CMS;Integrated Security=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Instance.Name" value="EmailInParser" />
    <add key="App.ProcessingLoopMS" value="1000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.BatchPollMSGreen" value="5000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.BatchPollMSYellow" value="10000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.BatchPollMSRed" value="30000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.HeartbeatMS" value="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.GreenThreshold" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.YellowThreshold" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.HeartbeatFolderPath" value="\\ACMA.EmailIn\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.Priority" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.BatchSize" value="100" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.ClashThreshold" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="App.EmailFolderPath" value="\\ACMA.EmailIn\GeneratedEmails\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="App.EmailProcessedFolderPath" value="\\ACMA.EmailsProcessed\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
</configuration>