<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="Data Source=SIT-MSSQL01-GSW.dncr.net.au,10020;Initial Catalog=SIT-CMS;Integrated Security=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Instance.Name" value="EmailInParser" />
    <add key="App.ProcessingLoopMS" value="1000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.BatchPollMSGreen" value="5000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.BatchPollMSYellow" value="10000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.BatchPollMSRed" value="30000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.HeartbeatMS" value="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.GreenThreshold" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.YellowThreshold" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.Priority" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.BatchSize" value="100" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="App.ClashThreshold" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="App.EmailFolderPath" value="\\sit-app01-gsw.dncr.net.au\DNCRData\Testing\EmailProcessor\Drop\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="App.EmailProcessedFolderPath" value="\\sit-app01-gsw.dncr.net.au\DNCRData\Testing\EmailProcessor\Processed\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="App.HeartbeatFolderPath" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="WithoutToken_FirstScenario_ToEmail" value="Enquiries@donotcall.gov.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WithoutToken_SecondScenario_ToEmail" value="Industry@donotcall.gov.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WithoutToken_RestOfScenario_ToEmail" value="@dncr.net.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="WithoutToken_FirstScenario_RerouteEmail" value="paulus.tirta@salmat.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WithoutToken_SecondScenario_RerouteEmail" value="paulus.tirta@salmat.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WithoutToken_RestOfScenario_RerouteEmail" value="paulus.tirta@salmat.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SMTP_Server" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="https://sit-core.dncr.net.au/Services/Cms/OnlineCmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineCmsService" contract="DNCRServicesCMS.IOnlineCmsService" name="BasicHttpsBinding_IOnlineCmsService" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    </client>
  </system.serviceModel>
</configuration>