<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="Data Source=SIT-MSSQL01-GSW.dncr.net.au,10020;Initial Catalog=SIT-CMS;Integrated Security=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="SocialMediaCredentialsURL" value="https://sit-web.dncr.net.au/social-media-settings" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoopInterval" value="600000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>