<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=DS-MSSQL01-GSW.dncr.net.au,10020;Initial Catalog=DEVINT-Umbraco;Integrated Security=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="SocialMediaCredentialsURL" value="http://devint-web.dncr.net.au/social-media-settings" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoopInterval" value="5000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>