<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="Data Source=UAT-MSSQL01-AG1.dncr.net.au,10050;Initial Catalog=UAT-CMS;Integrated Security=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="SocialMediaCredentialsURL" value="https://uat-web-int.dncr.net.au/social-media-settings" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoopInterval" value="600000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>