<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="Data Source=UAT-MSSQL01-AG1.dncr.net.au,10050;Initial Catalog=UAT-CMS;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  </connectionStrings>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp>
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="umbracoUseSSL" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PreWashUploadLocation" value="\\dncr.net.au\UAT\Washing\Online\" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="WashHistoryFileLocation" value="\\dncr.net.au\UAT\Washing\Processed\" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="BulkFileDownloadLocation" value="\\dncr.net.au\UAT\Washing\Online\Error\" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="UnhandledErrorMessageSubstitute" value="Sorry, an error has occurred. Please try again shortly." xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <httpCookies requireSSL="true" xdt:Transform="Insert"/>
    <customErrors defaultRedirect="error.html" mode="On" xdt:Transform="Replace"/>
    <machineKey xdt:Transform="Insert" validationKey="7E98C66F61AC9180DB0B2AF24688BA059C5D904D9C01B7A7972AD928260EB8765B8C8330727B3C3AD4AC79F827A3A6D6F44EE096CEDB32A2EFD4DA3BCA2FD7AA" decryptionKey="55B1CE14D9622563BF0F80BF04EC964C0093F219E5324BD5333817EB4617ADDB" validation="SHA1" decryption="AES"/>
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.serviceModel>
      <client>
        <endpoint address="https://uat-core.dncr.net.au/Services/AccessSeeker/OnlineAccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineAccountService" contract="DNCRAccessSeekerServices.IOnlineAccountService" name="BasicHttpsBinding_IOnlineAccountService" behaviorConfiguration="CustomServiceEndpointBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
        <endpoint address="https://uat-core.dncr.net.au/Services/Subscriptions/OnlineOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineOrderService" contract="DNCROrderServices.IOnlineOrderService" name="BasicHttpsBinding_IOnlineOrderService" behaviorConfiguration="CustomServiceEndpointBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
        <endpoint address="https://uat-core.dncr.net.au/Services/Cms/OnlineCmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineCmsService" contract="DNCRServicesCMS.IOnlineCmsService" name="BasicHttpsBinding_IOnlineCmsService" behaviorConfiguration="CustomServiceEndpointBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
        <endpoint address="https://uat-core.dncr.net.au/Services/Registrations/OnlineRegistrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineRegistrationService" contract="DNCRServicesRegistration.IOnlineRegistrationService" name="BasicHttpsBinding_IOnlineRegistrationService" behaviorConfiguration="CustomServiceEndpointBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
        <endpoint address="https://uat-core.dncr.net.au/Services/Washing/OnlineWashingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineWashingService" contract="DNCRWashingService.IOnlineWashingService" name="BasicHttpsBinding_IOnlineWashingService" behaviorConfiguration="CustomServiceEndpointBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
      </client>
    </system.serviceModel>
  </location>
</configuration>