<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9001/Services/AccessSeeker/OnlineAccountService.svc"          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineAccountService"         contract="DNCRAccessSeekerServices.IOnlineAccountService"       name="BasicHttpBinding_IOnlineAccountService"      behaviorConfiguration="CustomServiceEndpointBehavior"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:9001/Services/Subscriptions/OnlineOrderService.svc"           binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineOrderService"           contract="DNCROrderServices.IOnlineOrderService"                name="BasicHttsBinding_IOnlineOrderService"        behaviorConfiguration="CustomServiceEndpointBehavior"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:9001/Services/Cms/OnlineCmsService.svc"                       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineCmsService"             contract="DNCRServicesCMS.IOnlineCmsService"                    name="BasicHttpBinding_IOnlineCmsService"          behaviorConfiguration="CustomServiceEndpointBehavior"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:9001/Services/Registrations/OnlineRegistrationService.svc"    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineRegistrationService"    contract="DNCRServicesRegistration.IOnlineRegistrationService"  name="BasicHttpBinding_IOnlineRegistrationService" behaviorConfiguration="CustomServiceEndpointBehavior"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:9001/Services/Washing/OnlineWashingService.svc"               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineWashingService"         contract="DNCRWashingService.IOnlineWashingService"             name="BasicHttpBinding_IOnlineWashingService"      behaviorConfiguration="CustomServiceEndpointBehavior"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>