<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
    <section name="Examine" type="Examine.Config.ExamineSettings, Examine" requirePermission="false"/>
    <section name="ExamineLuceneIndexSets" type="Examine.LuceneEngine.Config.IndexSets, Examine" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
    <sectionGroup name="umbracoConfiguration">
      <section name="settings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false"/>
      <section name="BaseRestExtensions" type="Umbraco.Core.Configuration.BaseRest.BaseRestSection, Umbraco.Core" requirePermission="false"/>
      <section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" requirePermission="false"/>
      <section name="dashBoard" type="Umbraco.Core.Configuration.Dashboard.DashboardSection, Umbraco.Core" requirePermission="false"/>
    </sectionGroup>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>
  </configSections>
  <umbracoConfiguration>
    <settings configSource="config\umbracoSettings.config"/>
    <BaseRestExtensions configSource="config\BaseRestExtensions.config"/>
    <FileSystemProviders configSource="config\FileSystemProviders.config"/>
    <dashBoard configSource="config\Dashboard.config"/>
  </umbracoConfiguration>
  <urlrewritingnet configSource="config\UrlRewriting.config"/>
  <microsoft.scripting configSource="config\scripting.config"/>
  <Examine configSource="config\ExamineSettings.config"/>
  <ExamineLuceneIndexSets configSource="config\ExamineIndex.config"/>
  <log4net configSource="config\log4net.config"/>
  <appSettings>
    <!-- 
      Umbraco web.config configuration documentation can be found here: 
      http://our.umbraco.org/documentation/using-umbraco/config-files/#webconfig
      -->
    <add key="umbracoConfigurationStatus" value="7.2.4"/>
    <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx,~/VSEnterpriseHelper.axd"/>
    <add key="umbracoReservedPaths" value="~/umbraco,~/install/,~/dncrtelem,~/bundles,~/SDSupport"/>
    <add key="umbracoPath" value="~/umbraco"/>
    <add key="umbracoHideTopLevelNodeFromPath" value="true"/>
    <add key="umbracoUseDirectoryUrls" value="true"/>
    <add key="umbracoTimeOutInMinutes" value="20"/>
    <add key="umbracoDefaultUILanguage" value="en"/>
    <add key="umbracoVersionCheckPeriod" value="0"/>
    <add key="umbracoUseSSL" value="false"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="enableSimpleMembership" value="false"/>
    <add key="autoFormsAuthentication" value="false"/>
    <add key="log4net.Config" value="config\log4net.config"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="RecaptchaSiteKey" value="6LcCGAMTAAAAAFhPUUL6OFnbQcDMM-rGKHuF7LBb"/>
    <add key="RecaptchaSecretKey" value="6LcCGAMTAAAAAF13GNmwVqFdvPmlFltW3ndR80Kv"/>
    <add key="RecaptchaEnabled" value="false"/>
    <add key="UnhandledErrorMessageSubstitute" value="Sorry, an error has occurred. Please try again shortly."/>
    <add key="BulkFileDownloadLocation" value="\\DS-CORE01-GSW.dncr.net.au\DNCRData\Washing\Online\Error\"/>
    <add key="ConnectionStringName" value="umbracoDbDSN"/>
    <add key="PreWashUploadLocation" value="C:\_Source\DNCR\Salmat.Dncr\AppFolders\Washing\InputFiles\Online\"/>
    <add key="WashHistoryFileLocation" value="C:\_Source\DNCR\Salmat.Dncr\AppFolders\Washing\InputFiles\Processed\"/>
    <!--<add key="WashHistoryFileLocation" value="c:\\tmp" />-->
    <add key="HealthCheck.AccountId" value="32319"/>
    <add key="HealthCheck.AccountUserId" value="59728"/>
    <add key="HealthCheck.WashingRequestId" value="64013325"/>
    <add key="HealthCheck.Email" value="no-reply@salmat.com.au"/>
    <add key="HealthCheck.NumberNotOnRegister" value="0287832973"/>
    <add key="HealthCheck.NumberOnRegister" value="0433319146"/>
    <add key="Healthcheck.Key" value="amIOnline"/>
    <add key="Healthcheck.Verbose.Key" value="giveMeTheDetails"/>
    <add key="HealthCheck.Methods.CheckKey" value="pleaseCheckMe"/>
    <add key="HealthCheck.Methods.CreateKey" value="pleaseAddMe"/>
    <add key="HealthCheck.Methods.UpdateKey" value="pleaseUpdateMe"/>
    <add key="HealthCheck.Methods.RemoveKey" value="pleaseRemoveMe"/>
    <add key="HealthCheck.Methods.QuickWashKey" value="pleaseWashMe"/>
    <add key="HealthCheck.Methods.UploadListKey" value="pleaseUploadMe"/>
    <add key="HealthCheck.Methods.SoapKey" value="pleaseSoapMe"/>
    <add key="ConnectionStringName" value="umbracoDbDSN"/>
    <add key="VirtualPaymentClientURL_Pay" value="https://migs.mastercard.com.au/vpcpay"/>
    <add key="VirtualPaymentClientURL_Query" value="https://migs.mastercard.com.au/vpcdps"/>
    <add key="SecureSecret" value="42395C566232596CE213B0D190C97F2A"/>
    <add key="MerchantAccessCode" value="6FF923BB"/>
    <add key="MerchantID" value="TESTANZACMA"/>
    <add key="MerchantAdminUser" value="Admin2"/>
    <add key="MerchantAdminPassword" value="Admintest1"/>
    <add key="SubscriptionHistory.LastPurchasedDate.ParseExactFormat" value="d/M/yyyy"/>
    <add key="SubscriptionHistory.SubscriptionExpiryDate.ParseExactFormat" value="d/M/yyyy"/>
    <add key="AccountSummary.SubscriptionDate.ParseExactFormat" value="d/MM/yyyy h:mm tt"/>
    <add key="GoogleAnalyticsTrackingId" value=""/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <remove name="umbracoDbDSN"/>
    <!--Avanade Dev-->
    <!--<add name="umbracoDbDSN" connectionString="data source=172.19.22.163,1433;initial catalog=PROD-CMS;persist security info=True;user id=DNCRDev;password=DNCRP@ssw0rd;multipleactiveresultsets=True;Connection Timeout=45;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--Salmat Dev -->
    <add name="umbracoDbDSN" connectionString="Data Source=SIT-MSSQL01-GSW.dncr.net.au,10020;Initial Catalog=SIT-CMS;user id=EdgarD;password=EdgarD123" providerName="System.Data.SqlClient"/>
    <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\tmp\mail\"/>
        <!--<network host="127.0.0.1" userName="username" password="password" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <location path="umbraco">
    <system.web>
      <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="5120" executionTimeout="99999"/>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <sessionState timeout="30"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" targetFramework="4.5" maxRequestLength="2147483647"/>
    <!--
      If you are deploying to a cloud environment that has multiple web server instances,
      you should change session state mode from "InProc" to "Custom". In addition,
      change the connection string named "DefaultConnection" to connect to an instance
      of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="umbraco" namespace="umbraco.presentation.templateControls" assembly="umbraco"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
      <namespaces>
        <add namespace="ClientDependency.Core"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UmbracoModule" type="Umbraco.Web.UmbracoModule,umbraco"/>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web"/>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="umbraco/channels.aspx" type="umbraco.presentation.channels.api, umbraco"/>
      <add verb="*" path="umbraco/channels/word.aspx" type="umbraco.presentation.channels.wordApi, umbraco"/>
      <add verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </httpHandlers>
    <compilation defaultLanguage="c#" debug="true" batch="false" targetFramework="4.8">
      <assemblies>
        <remove assembly="System.Web.Http"/>
        <remove assembly="System.Net.Http"/>
        <add assembly="System.Web.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines"/>
        <add extension=".vbhtml" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines"/>
        <add extension=".razor" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name="yourAuthCookie" loginUrl="login.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <!-- Membership Provider -->
    <membership defaultProvider="UmbracoMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="UmbracoMembershipProvider" type="Umbraco.Web.Security.Providers.MembersMembershipProvider, Umbraco" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" useLegacyEncoding="true" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" defaultMemberTypeAlias="Member" passwordFormat="Hashed"/>
        <add name="UsersMembershipProvider" type="Umbraco.Web.Security.Providers.UsersMembershipProvider, Umbraco" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="4" useLegacyEncoding="true" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <!-- Role Provider -->
    <roleManager enabled="true" defaultProvider="UmbracoRoleProvider">
      <providers>
        <clear/>
        <add name="UmbracoRoleProvider" type="Umbraco.Web.Security.Providers.MembersRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRewriteModule"/>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
      <remove name="UmbracoModule"/>
      <add name="UmbracoModule" type="Umbraco.Web.UmbracoModule,umbraco"/>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <!-- Needed for login/membership to work on homepage (as per http://stackoverflow.com/questions/218057/httpcontext-current-session-is-null-when-routing-requests) -->
      <remove name="FormsAuthentication"/>
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web"/>
      <remove name="ClientDependencyModule"/>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers accessPolicy="Read, Write, Script, Execute">
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="Channels"/>
      <remove name="Channels_Word"/>
      <remove name="ClientDependency"/>
      <remove name="MiniProfiler"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" name="Channels" preCondition="integratedMode" path="umbraco/channels.aspx" type="umbraco.presentation.channels.api, umbraco"/>
      <add verb="*" name="Channels_Word" preCondition="integratedMode" path="umbraco/channels/word.aspx" type="umbraco.presentation.channels.wordApi, umbraco"/>
      <add verb="*" name="ClientDependency" preCondition="integratedMode" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core"/>
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode"/>
      <remove name="DependencyHandler"/>
      <add name="DependencyHandler" preCondition="integratedMode" verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </handlers>
    <!-- Adobe AIR mime type -->
    <staticContent>
      <remove fileExtension=".air"/>
      <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
      <remove fileExtension=".less"/>
      <mimeMap fileExtension=".less" mimeType="text/css"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <clientCache httpExpires="Sun, 29 Mar 2120 00:00:00 GMT" cacheControlMode="UseExpires"/>
    </staticContent>
    <!-- Ensure the powered by header is not returned -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Old asp.net ajax assembly bindings -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <!-- Ensure correct version of MVC -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <!-- Ensure correct version of HtmlAgilityPack -->
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="1.4.5.0-1.4.6.0" newVersion="1.4.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="umbraco">
    <system.webServer>
      <urlCompression doStaticCompression="false" doDynamicCompression="false" dynamicCompressionBeforeCache="false"/>
    </system.webServer>
  </location>
  <location path="App_Plugins">
    <system.webServer>
      <urlCompression doStaticCompression="false" doDynamicCompression="false" dynamicCompressionBeforeCache="false"/>
    </system.webServer>
  </location>
  <clientDependency>
    <!-- Full config documentation is here: https://github.com/Shazwazza/ClientDependency/wiki/Configuration -->
  </clientDependency>
  <location path="." inheritInChildApplications="false">
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="ExtendedServiceEndpointBehavior" type="SD.ACMA.BusinessLogic.WcfLogging.CustomBehaviorExtensionElement, SD.ACMA.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="CustomServiceEndpointBehavior">
            <ExtendedServiceEndpointBehavior/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <basicHttpBinding>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineAccountService" maxReceivedMessageSize="20000000"/>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineAccountService" maxReceivedMessageSize="20000000">
            <security mode="Transport"/>
          </binding>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineOrderService" maxReceivedMessageSize="20000000"/>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineOrderService" maxReceivedMessageSize="20000000">
            <security mode="Transport"/>
          </binding>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineCmsService" maxReceivedMessageSize="20000000"/>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineCmsService" maxReceivedMessageSize="20000000">
            <security mode="Transport"/>
          </binding>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineRegistrationService" maxReceivedMessageSize="20000000"/>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineRegistrationService" maxReceivedMessageSize="20000000">
            <security mode="Transport"/>
          </binding>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineWashingService" maxReceivedMessageSize="20000000"/>
          <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineWashingService" maxReceivedMessageSize="20000000">
            <security mode="Transport"/>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost/Salmat.Dncr.Services/Services/AccessSeeker/OnlineAccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineAccountService" contract="DNCRAccessSeekerServices.IOnlineAccountService" name="BasicHttpsBinding_IOnlineAccountService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
        <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Subscriptions/OnlineOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineOrderService" contract="DNCROrderServices.IOnlineOrderService" name="BasicHttpsBinding_IOnlineOrderService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
        <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Cms/OnlineCmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineCmsService" contract="DNCRServicesCMS.IOnlineCmsService" name="BasicHttpsBinding_IOnlineCmsService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
        <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineRegistrationService" contract="DNCRServicesRegistration.IOnlineRegistrationService" name="BasicHttpsBinding_IOnlineRegistrationService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
        <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Washing/OnlineWashingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineWashingService" contract="DNCRWashingService.IOnlineWashingService" name="BasicHttpsBinding_IOnlineWashingService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
        <!--
        <endpoint address="https://sit-core.dncr.net.au/Services/AccessSeeker/OnlineAccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineAccountService" contract="DNCRAccessSeekerServices.IOnlineAccountService" name="BasicHttpsBinding_IOnlineAccountService" behaviorConfiguration="CustomServiceEndpointBehavior" />
        <endpoint address="https://sit-core.dncr.net.au/Services/Subscriptions/OnlineOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineOrderService" contract="DNCROrderServices.IOnlineOrderService" name="BasicHttpsBinding_IOnlineOrderService" behaviorConfiguration="CustomServiceEndpointBehavior" />
        <endpoint address="https://sit-core.dncr.net.au/Services/Cms/OnlineCmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineCmsService" contract="DNCRServicesCMS.IOnlineCmsService" name="BasicHttpsBinding_IOnlineCmsService" behaviorConfiguration="CustomServiceEndpointBehavior" />
        <endpoint address="https://sit-core.dncr.net.au/Services/Registrations/OnlineRegistrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineRegistrationService" contract="DNCRServicesRegistration.IOnlineRegistrationService" name="BasicHttpsBinding_IOnlineRegistrationService" behaviorConfiguration="CustomServiceEndpointBehavior" />
        <endpoint address="https://sit-core.dncr.net.au/Services/Washing/OnlineWashingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineWashingService" contract="DNCRWashingService.IOnlineWashingService" name="BasicHttpsBinding_IOnlineWashingService" behaviorConfiguration="CustomServiceEndpointBehavior" />
        -->
      </client>
    </system.serviceModel>
  </location>
</configuration>