<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true">
  <variable name="Instance.Name" value="SD.ACMA.DNCRProject.FinancialReports"></variable>
  <variable name="logDirectory" value="${basedir}/App_Data/logs"/>
  <variable name="standardLayout" value="[${longdate}] ${callsite}: [${threadId}] ${message};${exception:format=type,message,method,StackTrace,ToString:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,StackTrace,ToString}" />
  <variable name="eventLayout" value="[${longdate}] ${callsite}: [${threadId}] ${message};${exception:format=type,message,method,StackTrace,ToString:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,StackTrace,ToString} | ${basedir}" />
  <targets async="true">
    <default-wrapper type="AsyncWrapper">
      <wrapper-target type="RetryingWrapper"/>
    </default-wrapper>
    <target name="event" type="EventLog" layout="${eventLayout}" log="Application" source="${Instance.Name}"/>
  </targets>

  <targets async="true">
    <!-- standard logging for levels Info and above -->
    <target name="file"           type="File"     layout="${standardLayout}"
            fileName="${logDirectory}/${machinename}.${level}.log"
            archiveFileName="${logDirectory}/archive/${machinename}.${level}.{#}.log"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            maxArchiveFiles="28"
            concurrentWrites="true"
            keepFileOpen="false" />
    <!-- configure trace/debug output separately in case we want to modify, or not log -->
    <target name="file_debug"     type="File"     layout="${standardLayout}"
            fileName="${logDirectory}/${machinename}.${level}.log"
            archiveFileName="${logDirectory}/archive/${machinename}.${level}.{#}.log"
            archiveAboveSize="40000000"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Trace" maxlevel="debug" writeTo="file_debug" />
    <logger name="*" minlevel="Error" writeTo="event" />
  </rules>
</nlog>