<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <remove name="umbracoDbDSN"/>
    <!--<add name="umbracoDbDSN" connectionString="server=10.109.136.82,10020;database=DEVINT-Umbraco;user id=TirtaP;password=Password1" providerName="System.Data.SqlClient" />-->
        <add name="umbracoDbDSN" connectionString="Data Source=SIT-MSSQL01-GSW.dncr.net.au,10020;Initial Catalog=SIT-CMS;user id=MIG-DNCR-USER;password=password1;" providerName="System.Data.SqlClient"/>
    
    <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
  </connectionStrings>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
        <dependentAssembly>
    
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
    
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
    
            <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0"/>
    
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOnlineAccountService"/>
        <binding name="BasicHttpBinding_IOnlineOrderService"/>
        <binding name="BasicHttpBinding_IOnlineCmsService"/>
        <binding name="BasicHttpBinding_IOnlineRegistrationService"/>
        <binding name="BasicHttpBinding_IOnlineWashingService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Cms/OnlineCmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineCmsService" contract="DNCRServicesCMS.IOnlineCmsService" name="BasicHttpBinding_IOnlineCmsService"/>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Subscriptions/OnlineOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineOrderService" contract="DNCROrderServices.IOnlineOrderService" name="BasicHttpBinding_IOnlineOrderService"/>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/AccessSeeker/OnlineAccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineAccountService" contract="DNCRAccessSeekerServices.IOnlineAccountService" name="BasicHttpBinding_IOnlineAccountService"/>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Washing/OnlineWashingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineWashingService" contract="DNCRWashingService.IOnlineWashingService" name="BasicHttpBinding_IOnlineWashingService"/>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineRegistrationService" contract="DNCRServicesRegistration.IOnlineRegistrationService" name="BasicHttpBinding_IOnlineRegistrationService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
