<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="data source=172.19.22.163,1433;initial catalog=PROD-CMS;persist security info=True;user id=DNCRDev;password=DNCRP@ssw0rd;multipleactiveresultsets=True;Connection Timeout=45;application name=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="umbracoDbDSN" connectionString="server=10.109.136.82,10020;Initial Catalog=DEVINT-Umbraco;user id=TirtaP;password=Password1" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ConnectionStringName" value="umbracoDbDSN"/>
    <add key="VirtualPaymentClientURL_Pay" value="https://migs.mastercard.com.au/vpcpay"/>
    <add key="VirtualPaymentClientURL_Query" value="https://migs.mastercard.com.au/vpcdps"/>
    <!-- PROD -->
   <!-- <add key="SecureSecret" value="D574756F976C79D5712C0F91333958DE" />
    <add key="MerchantAccessCode" value="B49B34B0" />
    <add key="MerchantID" value="ANZACMA" />
    <add key="MerchantAdminUser" value="administrator3" />
    <add key="MerchantAdminPassword" value="Friday2015" />-->

    <!-- PROD Test-->

    <add key="SecureSecret" value="EFF05E691EE2B52F2EE3842554A220FD"/>
    <add key="MerchantAccessCode" value="65538FDE"/>
    <add key="MerchantID" value="ANZAUSTRAL1"/>
    <add key="MerchantAdminUser" value="DNCRSalmat2"/>
    <add key="MerchantAdminPassword" value="Salmat2015#"/>

  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0"/>

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ExtendedServiceEndpointBehavior" type="SD.ACMA.BusinessLogic.WcfLogging.CustomBehaviorExtensionElement, SD.ACMA.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomServiceEndpointBehavior">
          <ExtendedServiceEndpointBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>        
        <!--<binding name="BasicHttpsBinding_IOnlineAccountService">
          <security mode="Transport" />-->
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineAccountService" maxReceivedMessageSize="20000000"/>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineAccountService" maxReceivedMessageSize="20000000">
          <security mode="Transport"/>
        </binding>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineOrderService" maxReceivedMessageSize="20000000"/>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineOrderService" maxReceivedMessageSize="20000000">
          <security mode="Transport"/>
        </binding>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineCmsService" maxReceivedMessageSize="20000000"/>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineCmsService" maxReceivedMessageSize="20000000">
          <security mode="Transport"/>
        </binding>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineRegistrationService" maxReceivedMessageSize="20000000"/>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineRegistrationService" maxReceivedMessageSize="20000000">
          <security mode="Transport"/>
        </binding>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpBinding_IOnlineWashingService" maxReceivedMessageSize="20000000"/>
        <binding receiveTimeout="00:02:00" sendTimeout="00:02:00" name="BasicHttpsBinding_IOnlineWashingService" maxReceivedMessageSize="20000000">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      
      <!--<endpoint address="https://devint-core.dncr.net.au/Services/AccessSeeker/OnlineAccountService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IOnlineAccountService"
        contract="DNCRAccessSeekerServices.IOnlineAccountService" name="BasicHttpsBinding_IOnlineAccountService"
        behaviorConfiguration="CustomServiceEndpointBehavior" />-->
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/AccessSeeker/OnlineAccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineAccountService" contract="DNCRAccessSeekerServices.IOnlineAccountService" name="BasicHttpsBinding_IOnlineAccountService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Subscriptions/OnlineOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineOrderService" contract="DNCROrderServices.IOnlineOrderService" name="BasicHttpsBinding_IOnlineOrderService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Cms/OnlineCmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineCmsService" contract="DNCRServicesCMS.IOnlineCmsService" name="BasicHttpsBinding_IOnlineCmsService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineRegistrationService" contract="DNCRServicesRegistration.IOnlineRegistrationService" name="BasicHttpsBinding_IOnlineRegistrationService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
      <endpoint address="http://localhost/Salmat.Dncr.Services/Services/Washing/OnlineWashingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineWashingService" contract="DNCRWashingService.IOnlineWashingService" name="BasicHttpsBinding_IOnlineWashingService" behaviorConfiguration="CustomServiceEndpointBehavior"/>
      
      
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
