@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
    PageData["DisableIndexing"] = true;
}

<div class="section sectionSubPage addSectionMinHeight">
    <div class="subPages">
        @Html.Action("Create", "AccountSurface")
        <div class="clear"></div>
    </div>
</div>