@using SD.ACMA.DNCR.Infrastructure.Configuration
@using SD.ACMA.DNCRProject.Website.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
    PageData["DisableIndexing"] = true;
}
@if (SessionHelper.AccountId == 0 || SessionHelper.AccountUserId == 0)
{
    Response.Redirect(Url.Action("SignOut", "UserSurface"));
}
else
{
    <div class="section sectionSubPage addSectionMinHeight">
        <div class="subPages">
            @Html.Action("Edit", "UserSurface")
            <div class="clear"></div>
        </div>
    </div>
}