<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=DS-MSSQL01-GSW.dncr.net.au,10020;Initial Catalog=DEVINT-Umbraco;Integrated Security=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="LoopInterval" value="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PendingPaymentTimeOutHours" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="VirtualPaymentClientURL_Pay" value="https://migs.mastercard.com.au/vpcpay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="VirtualPaymentClientURL_Query" value="https://migs.mastercard.com.au/vpcdps" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SecureSecret" value="42395C566232596CE213B0D190C97F2A" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MerchantAccessCode" value="6FF923BB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MerchantID" value="TESTANZACMA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MerchantAdminUser" value="Admin2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MerchantAdminPassword" value="Admintest1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="https://devint-core.dncr.net.au/Services/Subscriptions/OnlineOrderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineOrderService"
        contract="DNCROrderServices.IOnlineOrderService" name="BasicHttpBinding_IOnlineOrderService"
        behaviorConfiguration="CustomServiceEndpointBehavior" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>